/* Stylesheet made by Nolan Hegge, 3/26/2026 */
/* Boilerplate code used from Activity 9 */
.map {
    border: medium solid #999;
    margin: 10px 0 0 20px;
    background: #D5E3FF;
}

.states {
    stroke: #fff;
    stroke-width: 1px;
    stroke-linecap: round;
}