/* Stylesheet made by Nolan Hegge, 3/26/2026 */
/* Boilerplate code used from Activity 9 and 10 */
.map {
    border: medium solid #999;
    margin: 5px 0 0 0;
    background: #D5E3FF;
}

.chart {
    background-color: rgba(128,128,128,.2);
    border: medium solid #999;
    float: right;
    margin: 5px 0 0 0;
}